body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 20px auto;
  }
  
  input[type="text"],
  input[type="date"],
  button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #848697;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .event {
    border: 1px solid #635f5f;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  